<div class="forms">
    <form class="add_form" (submit)="save($event)">
        <div class="search-bar">
            <input
            type="text"
            (keyup)="onAdd($event)"
            placeholder="add..."
            value="{{ searchTerm }}"
            class="search-input"
            />
            <button (click)="addItem()" type="submit" class="search-button">
                <i class="fa fa-search"></i>
                Add item
            </button>
        </div>
    </form>
</div>    
